# ignore build and obj
/build/
/bin/
/obj/
/install/

/.catkin_tools/

*.o
*.a
*.so
*.exe
*.dll
*.dylib

# ignore CMake 
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ignore IDE 
*.log
*.swp
*.swo
*.user
.idea/
.vscode/

# ignore tmp
*~
*.tmp
*.bak
*.old